/* Add some global styles here! */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
  --dark-green: #344C45;
  font-size: 16px;
}

body {
  font-family: "Inter";
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compressWidth {
  max-width: max(60%, min(95%, 1200px));
}
